<div class="content-wrapper"  current-page-ready page-lay-out>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      正在催收客户
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>

            <p>New Orders</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">M3 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">M4 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">M5 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">M6 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-8 connectedSortable">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">客户列表</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="customerTables" class="table table-bordered table-hover" ng-if="current.currentCustomerList">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>身份证号码</th>
                    <!--<th>所在地</th>-->
                    <th>电话号码</th>
                    <!--<th>邮件</th>-->
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="customer in current.currentCustomerList" on-table-finished="customerTables">
                    <td><a ui-sref="app.detail">{{customer.id}}</a></td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.idCard}}</td>
                    <!--<td>{{customer.address}}</td>-->
                    <td>{{customer.phone}}</td>
                    <!--<td>{{customer.email}}</td>-->
                    <td class="" style="text-align: center">
                      <button class="btn  btn-success btn-xs">
                        <i class="fa fa-headphones"></i>
                      </button>
                      <button class="btn  btn-primary btn-xs">
                        <i class="fa fa-envelope-o"></i>
                      </button>
                      <button class="btn  btn-info btn-xs">
                        <i class="fa fa-wechat"></i>
                      </button>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <section class="col-lg-4 connectedSortable">
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">李馨浩</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> 最新动态</strong>

                <p class="text-muted">
                  用户逾期超过60天，暂无法联系本人.
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> 位置信息</strong>

                <p class="text-muted">
                  近期出现在北京
                </p>

                <hr>

                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                <p>
                  <span class="label label-danger">UI Design</span>
                  <span class="label label-success">Coding</span>
                  <span class="label label-info">Javascript</span>
                  <span class="label label-warning">PHP</span>
                  <span class="label label-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
  </section>
</div>
<!--<script src="js/adminlte/pages/current.page.js"></script>-->
