<div class="modal-header">
  <h3 class="modal-title">产品详情</h3>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr>
        <th>产品类型:</th>
        <td>p2p</td>
        <th>状态:</th>
        <td>逾期</td>
        <th>用途:</th>
        <td>资金周转</td>
      </tr>
      <tr>
        <th>周期（月）:</th>
        <td>24</td>
        <th>签约日期:</th>
        <td>2015-09-08</td>
        <th>约定还款日:</th>
        <td>1</td>
      </tr>
      <tr>
        <th>借款金额:</th>
        <td>5000</td>
        <th>月利率:</th>
        <td>0.01</td>
        <th>年利率:</th>
        <td>0.13</td>
      </tr>
      <tr>
        <th>逾期本金:</th>
        <td>5000</td>
        <th>逾期利息:</th>
        <td>0.01</td>
        <th>逾期罚息:</th>
        <td>0.13</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
